In [257]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/living-conditions-and-lifestyle/andtg/tobacco/towards-a-smoke-free-sweden/

In [258]:
data_sw = {
    1980: 31.0,
    1982: 30.5,
    1984: 28.5,
    1986: 27.0,
    1988: 26.0,
    1990: 24.5,
    1992: 23.0,
    1994: 22.0,
    1996: 20.0,
    1998: 18.0,
    2000: 17.5,
    2002: 16.5,
    2004: 15.0,
    2006: 14.0,
    2007: 13.8,
    2008: 13.0,
    2010: 12.5,
    2012: 11.8,
    2014: 11.0,
    2016: 10.5,
    2018: 10.0,
    2020: 9.8,
    2021: 9.7,
    2022: 9.5,
    2023: 8.8
}

https://thl.fi/documents/155392151/190513223/TobaccoStatistics2022_front-page+appendix-tables.pdf/bf593cfb-4d73-2c7d-d4a9-c2025d4a372d/TobaccoStatistics2022_front-page+appendix-tables.pdf?t=1698215141348

In [259]:
data_fin = {
    1997: 19,
    1999: 18,
    2001: 18,
    2003: 16,
    2005: 16,
    2007: 15,
    2009: 14,
    2011: 13,
    2013: 11,
    2014: 14,
    2015: 14,
    2016: 13,
    2017: 11,
    2018: 12,
    2019: 11,
    2020: 11,
    2022: 10
}

In [260]:
df_den = pd.read_excel("graveyard/roykere_danmark.xlsx").drop(columns=["Unnamed: 0"])

# Strip whitespace from column names to ensure the rename works
df_den.columns = df_den.columns.str.strip()

df_den = df_den.rename(columns={"Percentage" : "smokers_percentage_den"})
df_den

    Year  smokers_percentage_den
0   1998                      35
1   1999                      34
2   2000                      33
3   2001                      32
4   2002                      31
5   2003                      30
6   2004                      27
7   2005                      28
8   2006                      28
9   2007                      28
10  2008                      28
11  2009                      24
12  2010                      23
13  2011                      22
14  2012                      23
15  2013                      22
16  2014                      21
17  2015                      22
18  2016                      21
19  2017                      22
20  2018                      23
21  2019                      20
22  2020                      18
23  2021                      19
24  2022                      19
25  2023                      18
26  2024                      17

In [261]:
df_no = pd.read_excel("data_washed/norway_smokers.xlsx").drop(columns=["Unnamed: 0"])
df_no = df_no.rename(columns={"Unnamed: 2": "Year", "Unnamed: 3": "smokers_percentage_no"})
df_no["Year"] = pd.to_numeric(df_no["Year"], errors="coerce")
df_no = df_no.dropna(subset=["Year", "smokers_percentage_no"]).reset_index(drop=True)
df_no["Year"] = df_no["Year"].astype(int)
df_no

    Year  smokers_percentage_no
0   1973                   42.0
1   1974                   41.0
2   1975                   41.0
3   1976                   39.0
4   1977                   38.0
5   1978                   38.0
6   1979                   37.0
7   1980                   36.0
8   1981                   36.0
9   1982                   36.0
10  1983                   37.0
11  1984                   37.0
12  1985                   37.0
13  1986                   36.0
14  1987                   37.0
15  1988                   37.0
16  1989                   36.0
17  1990                   35.0
18  1991                   35.0
19  1992                   34.0
20  1993                   36.0
21  1994                   33.0
22  1995                   33.0
23  1996                   33.0
24  1997                   34.0
25  1998                   33.0
26  1999                   31.0
27  2000                   31.0
28  2001                   29.0
29  2002                   29.0
30  2003                   26.0
31  2004                   26.0
32  2005                   25.0
33  2006                   23.0
34  2007                   21.0
35  2008                   20.0
36  2009                   20.0
37  2010                   19.0
38  2011                   17.0
39  2012                   16.0
40  2013                   15.0
41  2014                   13.0
42  2015                   13.0
43  2016                   12.0
44  2017                   11.0
45  2018                   11.0
46  2019                    9.0
47  2020                    9.0
48  2021                    8.0
49  2022                    8.0
50  2023                    7.0
51  2024                    8.0

In [262]:
df_sw = pd.Series(data_sw, name='smokers_percentage_sw').reset_index().rename(columns={'index': 'Year'})
df_sw['Year'] = pd.to_numeric(df_sw['Year'], errors='coerce').astype(int)

df_fin = pd.Series(data_fin, name='smokers_percentage_fin').reset_index().rename(columns={'index': 'Year'})
df_fin['Year'] = pd.to_numeric(df_fin['Year'], errors='coerce').astype(int)

In [263]:
from functools import reduce

# List of all dataframes to merge
data_frames = [df_no, df_sw, df_den, df_fin]

# Use reduce to sequentially merge all dataframes in the list on 'Year' with an outer join
df = reduce(lambda left, right: pd.merge(left, right, on='Year', how='outer'), data_frames)

# Sort by year, which is good practice after an outer merge
df = df.sort_values('Year').reset_index(drop=True)

df

,Year,smokers_percentage_no,smokers_percentage_sw,smokers_percentage_den,smokers_percentage_fin
0,1973,42.0,NaN,NaN,NaN
1,1974,41.0,NaN,NaN,NaN
2,1975,41.0,NaN,NaN,NaN
3,1976,39.0,NaN,NaN,NaN
4,1977,38.0,NaN,NaN,NaN
5,1978,38.0,NaN,NaN,NaN
6,1979,37.0,NaN,NaN,NaN
7,1980,36.0,31.0,NaN,NaN
8,1981,36.0,NaN,NaN,NaN
9,1982,36.0,30.5,NaN,NaN
10,1983,37.0,NaN,NaN,NaN
11,1984,37.0,28.5,NaN,NaN
12,1985,37.0,NaN,NaN,NaN
13,1986,36.0,27.0,NaN,NaN
14,1987,37.0,NaN,NaN,NaN
15,1988,37.0,26.0,NaN,NaN
16,1989,36.0,NaN,NaN,NaN
17,1990,35.0,24.5,NaN,NaN
18,1991,35.0,NaN,NaN,NaN
19,1992,34.0,23.0,NaN,NaN
20,1993,36.0,NaN,NaN,NaN
21,1994,33.0,22.0,NaN,NaN
22,1995,33.0,NaN,NaN,NaN
23,1996,33.0,20.0,NaN,NaN
24,1997,34.0,NaN,NaN,19.0
25,1998,33.0,18.0,35.0,NaN
26,1999,31.0,NaN,34.0,18.0
27,2000,31.0,17.5,33.0,NaN
28,2001,29.0,NaN,32.0,18.0
29,2002,29.0,16.5,31.0,NaN
30,2003,26.0,NaN,30.0,16.0
31,2004,26.0,15.0,27.0,NaN
32,2005,25.0,NaN,28.0,16.0
33,2006,23.0,14.0,28.0,NaN
34,2007,21.0,13.8,28.0,15.0
35,2008,20.0,13.0,28.0,NaN
36,2009,20.0,NaN,24.0,14.0
37,2010,19.0,12.5,23.0,NaN
38,2011,17.0,NaN,22.0,13.0
39,2012,16.0,11.8,23.0,NaN
40,2013,15.0,NaN,22.0,11.0
41,2014,13.0,11.0,21.0,14.0
42,2015,13.0,NaN,22.0,14.0
43,2016,12.0,10.5,21.0,13.0
44,2017,11.0,NaN,22.0,11.0
45,2018,11.0,10.0,23.0,12.0
46,2019,9.0,NaN,20.0,11.0
47,2020,9.0,9.8,18.0,11.0
48,2021,8.0,9.7,19.0,NaN
49,2022,8.0,9.5,19.0,10.0
50,2023,7.0,8.8,18.0,NaN
51,2024,8.0,NaN,17.0,NaN

In [264]:
df = df.sort_values('Year').reset_index(drop=True)

# Create a complete range of years from min to max
full_years = pd.DataFrame({'Year': range(df['Year'].min(), df['Year'].max() + 1)})
df = full_years.merge(df, on='Year', how='left')

df['smokers_percentage_no'] = df['smokers_percentage_no'].interpolate(method='linear')
df['smokers_percentage_sw'] = df['smokers_percentage_sw'].interpolate(method='linear')
df['smokers_percentage_den'] = df['smokers_percentage_den'].interpolate(method='linear')
df['smokers_percentage_fin'] = df['smokers_percentage_fin'].interpolate(method='linear')

# Show first few rows
df = df.tail(27)
df

,Year,smokers_percentage_no,smokers_percentage_sw,smokers_percentage_den,smokers_percentage_fin
25,1998,33.0,18.00,35.0,18.5
26,1999,31.0,17.75,34.0,18.0
27,2000,31.0,17.50,33.0,18.0
28,2001,29.0,17.00,32.0,18.0
29,2002,29.0,16.50,31.0,17.0
30,2003,26.0,15.75,30.0,16.0
31,2004,26.0,15.00,27.0,16.0
32,2005,25.0,14.50,28.0,16.0
33,2006,23.0,14.00,28.0,15.5
34,2007,21.0,13.80,28.0,15.0
35,2008,20.0,13.00,28.0,14.5
36,2009,20.0,12.75,24.0,14.0
37,2010,19.0,12.50,23.0,13.5
38,2011,17.0,12.15,22.0,13.0
39,2012,16.0,11.80,23.0,12.0
40,2013,15.0,11.40,22.0,11.0
41,2014,13.0,11.00,21.0,14.0
42,2015,13.0,10.75,22.0,14.0
43,2016,12.0,10.50,21.0,13.0
44,2017,11.0,10.25,22.0,11.0
45,2018,11.0,10.00,23.0,12.0
46,2019,9.0,9.90,20.0,11.0
47,2020,9.0,9.80,18.0,11.0
48,2021,8.0,9.70,19.0,10.5
49,2022,8.0,9.50,19.0,10.0
50,2023,7.0,8.80,18.0,10.0
51,2024,8.0,8.80,17.0,10.0

In [265]:
%pip install pyfixest

Requirement already satisfied: pyfixest in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (0.30.2)
Requirement already satisfied: scipy<1.16,>=1.6 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (1.15.3)
Requirement already satisfied: formulaic>=1.1.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (1.2.1)
Requirement already satisfied: pandas>=1.1.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (2.3.3)
Requirement already satisfied: numba>=0.58.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (0.62.1)
Requirement already satisfied: seaborn>=0.13.2 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (0.13.2)
Requirement already satisfied: tabulate>=0.9.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (0.9.0)
Requirement already satisfied: tqdm>=4.0.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (4.67.1)
Requirement already satisfied: great-tables>=0.10.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (0.20.0)
Requirement already satisfied: numpy>=1.25.2 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (2.3.3)
Requirement already satisfied: narwhals>=1.13.3 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (2.7.0)
Requirement already satisfied: joblib<2,>=1.4.2 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pyfixest) (1.5.2)
Requirement already satisfied: interface-meta>=1.2.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from formulaic>=1.1.0->pyfixest) (1.3.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from formulaic>=1.1.0->pyfixest) (4.15.0)
Requirement already satisfied: wrapt>=1.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from formulaic>=1.1.0->pyfixest) (2.0.0)
Requirement already satisfied: commonmark>=0.9.1 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from great-tables>=0.10.0->pyfixest) (0.9.1)
Requirement already satisfied: faicons>=0.2.2 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from great-tables>=0.10.0->pyfixest) (0.2.2)
Requirement already satisfied: htmltools>=0.4.1 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from great-tables>=0.10.0->pyfixest) (0.6.0)
Requirement already satisfied: importlib-metadata in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from great-tables>=0.10.0->pyfixest) (8.7.0)
Requirement already satisfied: Babel>=2.13.1 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from great-tables>=0.10.0->pyfixest) (2.17.0)
Requirement already satisfied: importlib-resources in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from great-tables>=0.10.0->pyfixest) (6.5.2)
Requirement already satisfied: packaging>=20.9 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from htmltools>=0.4.1->great-tables>=0.10.0->pyfixest) (25.0)
Requirement already satisfied: llvmlite<0.46,>=0.45.0dev0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from numba>=0.58.0->pyfixest) (0.45.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pandas>=1.1.0->pyfixest) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pandas>=1.1.0->pyfixest) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from pandas>=1.1.0->pyfixest) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.1.0->pyfixest) (1.17.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from seaborn>=0.13.2->pyfixest) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn>=0.13.2->pyfixest) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn>=0.13.2->pyfixest) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn>=0.13.2->pyfixest) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn>=0.13.2->pyfixest) (1.4.9)
Requirement already satisfied: pillow>=8 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn>=0.13.2->pyfixest) (11.3.0)
Requirement already satisfied: pyparsing>=3 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn>=0.13.2->pyfixest) (3.2.5)
Requirement already satisfied: zipp>=3.20 in /Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages (from importlib-metadata->great-tables>=0.10.0->pyfixest) (3.23.0)
Note: you may need to restart the kernel to use updated packages.

In [266]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyfixest.estimation import feols
# from pyfixest.visualize import iplot

# Reshape to long format
df_long = df.melt(id_vars='Year', value_vars=['smokers_percentage_no', 'smokers_percentage_sw', 
                                              'smokers_percentage_den', 'smokers_percentage_fin'],
                  var_name='Country', value_name='Smokers')

# Clean up country names
df_long['Country'] = df_long['Country'].str.replace('smokers_percentage_', '')

# --- Event Study Setup ---
# 1. Define the ban year for each country.
ban_years = {
    'no': 2004,
    'sw': 2005,
    'den': 2007,
    'fin': 2005
}
df_long['BanYear'] = df_long['Country'].map(ban_years)

# 2. Calculate "event time"
df_long['EventTime'] = df_long['Year'] - df_long['BanYear']

# 3. Run the event study regression using fixest
# The formula uses `i(EventTime, ref=-1)` for the event study interaction.
# The pipe `|` is used to specify the fixed effects (Country and Year).
# `cluster='Country'` correctly handles the standard errors.
fit = feols('Smokers ~ i(EventTime, ref=-1) | Country + Year', 
            data=df_long)

# --- FIX: Specify clustered standard errors using the .vcov() method ---
# The standard errors are calculated after fitting the model.
fit.vcov({'CRV1': 'Country'})

print("--- Event Study Regression Results (using fixest) ---")
fit.summary()

# # 4. Visualize the results using fixest's iplot
# # This automatically creates a publication-quality event study plot.
# fig, ax = plt.subplots(figsize=(12, 7))
# iplot(fit, ax=ax)
# plt.title('Event Study: Effect of Smoking Bans on Smoking Rates')
# plt.xlabel('Years Relative to Ban Implementation (Event Time)')
# plt.ylabel('Change in Smoking Percentage Points')
# plt.grid(True, which='both', linestyle='--', linewidth=0.5)
# plt.show()

--- Event Study Regression Results (using fixest) ---
###

Estimation:  OLS
Dep. var.: Smokers, Fixed effects: Country+Year
Inference:  CRV1
Observations:  108

| Coefficient                                  |   Estimate |   Std. Error |   t value |   Pr(>|t|) |    2.5% |   97.5% |
|:---------------------------------------------|-----------:|-------------:|----------:|-----------:|--------:|--------:|
| C(EventTime, contr.treatment(base=-1))[T.-9] |     -7.953 |       17.851 |    -0.446 |      0.686 | -64.762 |  48.855 |
| C(EventTime, contr.treatment(base=-1))[T.-8] |     -5.047 |       14.838 |    -0.340 |      0.756 | -52.268 |  42.174 |
| C(EventTime, contr.treatment(base=-1))[T.-7] |    -10.378 |       15.834 |    -0.655 |      0.559 | -60.769 |  40.013 |
| C(EventTime, contr.treatment(base=-1))[T.-6] |     -6.057 |       11.958 |    -0.507 |      0.647 | -44.114 |  32.000 |
| C(EventTime, contr.treatment(base=-1))[T.-5] |     -5.729 |        7.942 |    -0.721 |      0.523 | -31.004 |  19.545 |
| C(EventTime, contr.treatment(base=-1))[T.-4] |     -3.884 |        6.517 |    -0.596 |      0.593 | -24.624 |  16.856 |
| C(EventTime, contr.treatment(base=-1))[T.-3] |     -3.540 |        3.528 |    -1.003 |      0.390 | -14.767 |   7.687 |
| C(EventTime, contr.treatment(base=-1))[T.-2] |     -1.280 |        1.388 |    -0.922 |      0.425 |  -5.696 |   3.137 |
| C(EventTime, contr.treatment(base=-1))[T.0]  |      1.443 |        2.382 |     0.606 |      0.587 |  -6.136 |   9.022 |
| C(EventTime, contr.treatment(base=-1))[T.1]  |      2.396 |        3.963 |     0.605 |      0.588 | -10.214 |  15.007 |
| C(EventTime, contr.treatment(base=-1))[T.2]  |      2.094 |        5.779 |     0.362 |      0.741 | -16.296 |  20.484 |
| C(EventTime, contr.treatment(base=-1))[T.3]  |      2.348 |        6.565 |     0.358 |      0.744 | -18.544 |  23.239 |
| C(EventTime, contr.treatment(base=-1))[T.4]  |      3.474 |        6.984 |     0.498 |      0.653 | -18.750 |  25.699 |
| C(EventTime, contr.treatment(base=-1))[T.5]  |      5.268 |        7.850 |     0.671 |      0.550 | -19.715 |  30.250 |
| C(EventTime, contr.treatment(base=-1))[T.6]  |      6.369 |        8.396 |     0.759 |      0.503 | -20.352 |  33.090 |
| C(EventTime, contr.treatment(base=-1))[T.7]  |      6.341 |        9.036 |     0.702 |      0.533 | -22.415 |  35.096 |
| C(EventTime, contr.treatment(base=-1))[T.8]  |      7.070 |        8.857 |     0.798 |      0.483 | -21.117 |  35.257 |
| C(EventTime, contr.treatment(base=-1))[T.9]  |      8.139 |        8.967 |     0.908 |      0.431 | -20.399 |  36.676 |
| C(EventTime, contr.treatment(base=-1))[T.10] |      7.790 |        8.171 |     0.953 |      0.411 | -18.214 |  33.795 |
| C(EventTime, contr.treatment(base=-1))[T.11] |      7.903 |        7.333 |     1.078 |      0.360 | -15.433 |  31.239 |
| C(EventTime, contr.treatment(base=-1))[T.12] |      6.709 |        7.297 |     0.919 |      0.426 | -16.512 |  29.930 |
| C(EventTime, contr.treatment(base=-1))[T.13] |      5.672 |        6.982 |     0.812 |      0.476 | -16.547 |  27.892 |
| C(EventTime, contr.treatment(base=-1))[T.14] |      6.091 |        5.748 |     1.060 |      0.367 | -12.203 |  24.385 |
| C(EventTime, contr.treatment(base=-1))[T.15] |      5.934 |        4.632 |     1.281 |      0.290 |  -8.806 |  20.674 |
| C(EventTime, contr.treatment(base=-1))[T.16] |      5.710 |        3.464 |     1.648 |      0.198 |  -5.314 |  16.735 |
| C(EventTime, contr.treatment(base=-1))[T.17] |      4.358 |        3.403 |     1.280 |      0.290 |  -6.473 |  15.188 |
| C(EventTime, contr.treatment(base=-1))[T.18] |      5.768 |        2.377 |     2.427 |      0.094 |  -1.796 |  13.332 |
| C(EventTime, contr.treatment(base=-1))[T.19] |      4.330 |        2.000 |     2.165 |      0.119 |  -2.034 |  10.693 |
---
RMSE: 2.077 R2: 0.913 R2 Within: 0.199

/Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages/pyfixest/estimation/feols_.py:2703: UserWarning:
            1 variables dropped due to multicollinearity.
            The following variables are dropped: ['C(EventTime, contr.treatment(base=-1))[T.20]'].

  warnings.warn(

Testing the Parallel Trends Assumption (The Pre-Ban Period):

Look at the rows where EventTime is negative (e.g., [T.-9] to [T.-2]). These are the years before the smoking ban was implemented.
What to look for: You want the coefficients for these pre-ban years to be statistically insignificant. This means their p-values (Pr(>|t|)) should be large (typically > 0.10).
Your Result: For T.-9, the p-value is 0.686. For T.-2, it's 0.425. In fact, all of your pre-ban coefficients have large p-values. This is great news! It means there was no statistically significant difference in smoking trends between the countries before the bans were enacted. This provides strong evidence that the parallel trends assumption holds.

Estimating the Effect of the Ban (The Post-Ban Period):

Look at the rows where EventTime is zero or positive (e.g., [T.0], [T.1], etc.). These are the years during and after the ban.
What to look for: You are looking for statistically significant coefficients (p-values < 0.05 or < 0.10).
Your Result:
C(EventTime...)[T.0]: The coefficient is 1.443 with a p-value of 0.587. This means in the year of the ban, there was no immediate, statistically significant change in smoking rates.
C(EventTime...)[T.18]: The coefficient is 5.768 with a p-value of 0.094. This is significant at the 10% level. It suggests that 18 years after the ban, smoking rates were about 5.8 percentage points higher than they were the year before the ban, which is a very counter-intuitive result.
Overall Post-Ban Trend: None of your post-ban coefficients are significant at the 5% level, and the estimates are surprisingly positive. This suggests that, based on your data and model, the smoking bans did not have a statistically significant negative effect on smoking rates.

In [267]:
tobacco_price_no = pd.read_excel("tobacco_nordics/norway.xlsx", sheet_name="Monthly")
# Assume your DataFrame is called df_price
tobacco_price_no['observation_date'] = pd.to_datetime(tobacco_price_no['observation_date'])
tobacco_price_no['Year'] = tobacco_price_no['observation_date'].dt.year
tobacco_price_no['Month'] = tobacco_price_no['observation_date'].dt.month

# Filter for January only
tobacco_price_no = tobacco_price_no[tobacco_price_no['Month'] == 1].copy()
tobacco_price_no

    observation_date  CP0220NOM086NEST  Year  Month
0         1996-01-01              30.9  1996      1
12        1997-01-01              34.8  1997      1
24        1998-01-01              39.7  1998      1
36        1999-01-01              41.4  1999      1
48        2000-01-01              45.3  2000      1
60        2001-01-01              47.8  2001      1
72        2002-01-01              49.4  2002      1
84        2003-01-01              50.8  2003      1
96        2004-01-01              60.4  2004      1
108       2005-01-01              62.7  2005      1
120       2006-01-01              64.2  2006      1
132       2007-01-01              65.8  2007      1
144       2008-01-01              68.7  2008      1
156       2009-01-01              72.1  2009      1
168       2010-01-01              77.1  2010      1
180       2011-01-01              83.3  2011      1
192       2012-01-01              86.3  2012      1
204       2013-01-01              89.6  2013      1
216       2014-01-01              93.8  2014      1
228       2015-01-01              98.2  2015      1
240       2016-01-01             102.5  2016      1
252       2017-01-01             107.2  2017      1
264       2018-01-01             111.6  2018      1
276       2019-01-01             114.4  2019      1
288       2020-01-01             118.3  2020      1
300       2021-01-01             115.6  2021      1
312       2022-01-01             118.9  2022      1
324       2023-01-01             125.9  2023      1
336       2024-01-01             131.9  2024      1
348       2025-01-01             142.3  2025      1

In [268]:

# Keep only one row per year (the January value)
tobacco_price_no = tobacco_price_no[['Year', 'CP0220NOM086NEST', 'observation_date']].reset_index(drop=True)
tobacco_price_no = tobacco_price_no.rename(columns={"CP0220NOM086NEST": "tobacco_price_no"}).drop(columns=["observation_date"])



tobacco_price_no

    Year  tobacco_price_no
0   1996              30.9
1   1997              34.8
2   1998              39.7
3   1999              41.4
4   2000              45.3
5   2001              47.8
6   2002              49.4
7   2003              50.8
8   2004              60.4
9   2005              62.7
10  2006              64.2
11  2007              65.8
12  2008              68.7
13  2009              72.1
14  2010              77.1
15  2011              83.3
16  2012              86.3
17  2013              89.6
18  2014              93.8
19  2015              98.2
20  2016             102.5
21  2017             107.2
22  2018             111.6
23  2019             114.4
24  2020             118.3
25  2021             115.6
26  2022             118.9
27  2023             125.9
28  2024             131.9
29  2025             142.3

In [269]:
tobacco_price_fin = pd.read_excel("tobacco_nordics/finland.xlsx", sheet_name="Monthly")
tobacco_price_fin

    observation_date  CP0220FIM086NEST
0         1996-01-01             53.88
1         1996-02-01             53.88
2         1996-03-01             53.88
3         1996-04-01             53.88
4         1996-05-01             53.88
..               ...               ...
352       2025-05-01            203.61
353       2025-06-01            204.58
354       2025-07-01            206.96
355       2025-08-01            212.23
356       2025-09-01            212.23

[357 rows x 2 columns]

In [270]:
# Assume your DataFrame is called df_price
tobacco_price_fin['observation_date'] = pd.to_datetime(tobacco_price_fin['observation_date'])
tobacco_price_fin['Year'] = tobacco_price_fin['observation_date'].dt.year
tobacco_price_fin['Month'] = tobacco_price_fin['observation_date'].dt.month

# Filter for January only
tobacco_price_fin = tobacco_price_fin[tobacco_price_fin['Month'] == 1].copy()

# Keep only one row per year (the January value)
tobacco_price_fin = tobacco_price_fin[['Year', 'CP0220FIM086NEST', 'observation_date']].reset_index(drop=True)
tobacco_price_fin = tobacco_price_fin.rename(columns={"CP0220FIM086NEST": "tobacco_price_fin"}).drop(columns=["observation_date"])



tobacco_price_fin

    Year  tobacco_price_fin
0   1996              53.88
1   1997              55.44
2   1998              57.01
3   1999              57.01
4   2000              58.73
5   2001              61.21
6   2002              61.81
7   2003              61.80
8   2004              62.21
9   2005              61.37
10  2006              63.90
11  2007              66.30
12  2008              67.60
13  2009              74.77
14  2010              78.18
15  2011              79.42
16  2012              81.02
17  2013              89.23
18  2014              90.38
19  2015              99.05
20  2016             101.36
21  2017             112.08
22  2018             122.61
23  2019             131.78
24  2020             140.89
25  2021             152.74
26  2022             162.13
27  2023             175.32
28  2024             185.79
29  2025             203.58

In [271]:
tobacco_price_sw = pd.read_excel("tobacco_nordics/sweden.xlsx", sheet_name="Monthly")
tobacco_price_sw

    observation_date  CP0220SEM086NEST
0         1996-01-01             40.21
1         1996-02-01             40.24
2         1996-03-01             40.18
3         1996-04-01             40.18
4         1996-05-01             40.11
..               ...               ...
352       2025-05-01            133.19
353       2025-06-01            133.50
354       2025-07-01            134.35
355       2025-08-01            134.85
356       2025-09-01            135.32

[357 rows x 2 columns]

In [272]:
# Assume your DataFrame is called df_price
tobacco_price_sw['observation_date'] = pd.to_datetime(tobacco_price_sw['observation_date'])
tobacco_price_sw['Year'] = tobacco_price_sw['observation_date'].dt.year
tobacco_price_sw['Month'] = tobacco_price_sw['observation_date'].dt.month

# Filter for January only
tobacco_price_sw = tobacco_price_sw[tobacco_price_sw['Month'] == 1].copy()

# Keep only one row per year (the January value)
tobacco_price_sw = tobacco_price_sw[['Year', 'CP0220SEM086NEST', 'observation_date']].reset_index(drop=True)
tobacco_price_sw = tobacco_price_sw.rename(columns={"CP0220SEM086NEST": "tobacco_price_sw"}).drop(columns=["observation_date"])



tobacco_price_sw

    Year  tobacco_price_sw
0   1996             40.21
1   1997             42.13
2   1998             56.85
3   1999             47.66
4   2000             48.08
5   2001             49.39
6   2002             50.54
7   2003             51.94
8   2004             53.35
9   2005             53.91
10  2006             55.59
11  2007             63.78
12  2008             73.94
13  2009             76.87
14  2010             80.31
15  2011             82.27
16  2012             86.16
17  2013             93.23
18  2014             95.08
19  2015             97.07
20  2016            101.24
21  2017            103.25
22  2018            104.84
23  2019            106.91
24  2020            109.20
25  2021            112.36
26  2022            114.27
27  2023            119.17
28  2024            126.79
29  2025            129.31

In [273]:
tobacco_price_den = pd.read_excel("tobacco_nordics/denmark.xlsx", sheet_name="Monthly")
tobacco_price_den

    observation_date  CP0220DKM086NEST
0         1996-01-01              59.4
1         1996-02-01              59.5
2         1996-03-01              60.4
3         1996-04-01              60.5
4         1996-05-01              60.5
..               ...               ...
352       2025-05-01             159.9
353       2025-06-01             160.0
354       2025-07-01             160.4
355       2025-08-01             162.6
356       2025-09-01             162.9

[357 rows x 2 columns]

In [274]:
# Assume your DataFrame is called df_price
tobacco_price_den['observation_date'] = pd.to_datetime(tobacco_price_den['observation_date'])
tobacco_price_den['Year'] = tobacco_price_den['observation_date'].dt.year
tobacco_price_den['Month'] = tobacco_price_den['observation_date'].dt.month

# Filter for January only
tobacco_price_den = tobacco_price_den[tobacco_price_den['Month'] == 1].copy()

# Keep only one row per year (the January value)
tobacco_price_den = tobacco_price_den[['Year', 'CP0220DKM086NEST', 'observation_date']].reset_index(drop=True)
tobacco_price_den = tobacco_price_den.rename(columns={"CP0220DKM086NEST": "tobacco_price_den"}).drop(columns=["observation_date"])



tobacco_price_den

    Year  tobacco_price_den
0   1996               59.4
1   1997               60.5
2   1998               61.6
3   1999               62.7
4   2000               63.7
5   2001               66.8
6   2002               68.4
7   2003               69.6
8   2004               63.2
9   2005               67.1
10  2006               67.2
11  2007               68.0
12  2008               69.4
13  2009               70.6
14  2010               78.8
15  2011               85.8
16  2012               88.8
17  2013               96.2
18  2014               99.8
19  2015               99.9
20  2016              100.1
21  2017              100.4
22  2018              100.7
23  2019              101.5
24  2020              103.6
25  2021              141.2
26  2022              138.3
27  2023              152.8
28  2024              155.2
29  2025              157.6

In [275]:

tobacco_price_sw['Year'] = pd.to_numeric(tobacco_price_sw['Year'], errors='coerce').astype(int)
tobacco_price_no['Year'] = pd.to_numeric(tobacco_price_no['Year'], errors='coerce').astype(int)
tobacco_price_den['Year'] = pd.to_numeric(tobacco_price_den['Year'], errors='coerce').astype(int)
tobacco_price_fin['Year'] = pd.to_numeric(tobacco_price_fin['Year'], errors='coerce').astype(int)

In [279]:
# --- 1. Create a single WIDE DataFrame for prices ---
df_price_wide = tobacco_price_sw.merge(
    tobacco_price_fin, on="Year", how="outer"
).merge(
    tobacco_price_no, on="Year", how="outer"
).merge(
    tobacco_price_den, on="Year", how="outer"
)

# --- 2. Melt the price data from WIDE to LONG format ---
df_price_long = df_price_wide.melt(
    id_vars='Year',
    value_vars=['tobacco_price_sw', 'tobacco_price_fin', 'tobacco_price_no', 'tobacco_price_den'],
    var_name='Country',
    value_name='TobaccoPrice'
)

# --- 3. Clean the 'Country' names to match df_long ---
df_price_long['Country'] = df_price_long['Country'].str.replace('tobacco_price_', '')

# --- 4. Merge the price data into the main analysis DataFrame ---
df_final = pd.merge(df_long, df_price_long, on=['Year', 'Country'], how='left')

# --- 5. Run the Event Study with TobaccoPrice as a control variable ---
# --- FIX: Remove 'cluster' from feols() and use the .vcov() method instead ---
fit_with_controls = feols('Smokers ~ i(EventTime, ref=-1) + TobaccoPrice | Country + Year', 
                          data=df_final)

fit_with_controls.vcov({'CRV1': 'Country'})

print("--- Event Study Regression Results (with Tobacco Price Control) ---")
fit_with_controls.summary()

--- Event Study Regression Results (with Tobacco Price Control) ---
###

Estimation:  OLS
Dep. var.: Smokers, Fixed effects: Country+Year
Inference:  CRV1
Observations:  108

| Coefficient                                  |   Estimate |   Std. Error |   t value |   Pr(>|t|) |    2.5% |   97.5% |
|:---------------------------------------------|-----------:|-------------:|----------:|-----------:|--------:|--------:|
| C(EventTime, contr.treatment(base=-1))[T.-9] |     -9.381 |       19.074 |    -0.492 |      0.657 | -70.084 |  51.322 |
| C(EventTime, contr.treatment(base=-1))[T.-8] |     -6.320 |       15.883 |    -0.398 |      0.717 | -56.867 |  44.227 |
| C(EventTime, contr.treatment(base=-1))[T.-7] |    -11.598 |       16.776 |    -0.691 |      0.539 | -64.987 |  41.791 |
| C(EventTime, contr.treatment(base=-1))[T.-6] |     -6.895 |       12.544 |    -0.550 |      0.621 | -46.816 |  33.026 |
| C(EventTime, contr.treatment(base=-1))[T.-5] |     -6.402 |        8.353 |    -0.766 |      0.499 | -32.984 |  20.180 |
| C(EventTime, contr.treatment(base=-1))[T.-4] |     -4.379 |        6.841 |    -0.640 |      0.568 | -26.150 |  17.393 |
| C(EventTime, contr.treatment(base=-1))[T.-3] |     -3.745 |        3.723 |    -1.006 |      0.389 | -15.594 |   8.104 |
| C(EventTime, contr.treatment(base=-1))[T.-2] |     -1.392 |        1.501 |    -0.927 |      0.422 |  -6.169 |   3.386 |
| C(EventTime, contr.treatment(base=-1))[T.0]  |      1.438 |        2.219 |     0.648 |      0.563 |  -5.623 |   8.500 |
| C(EventTime, contr.treatment(base=-1))[T.1]  |      2.380 |        3.708 |     0.642 |      0.567 |  -9.420 |  14.179 |
| C(EventTime, contr.treatment(base=-1))[T.2]  |      2.009 |        5.441 |     0.369 |      0.737 | -15.306 |  19.324 |
| C(EventTime, contr.treatment(base=-1))[T.3]  |      2.138 |        6.182 |     0.346 |      0.752 | -17.536 |  21.812 |
| C(EventTime, contr.treatment(base=-1))[T.4]  |      3.149 |        6.619 |     0.476 |      0.667 | -17.915 |  24.213 |
| C(EventTime, contr.treatment(base=-1))[T.5]  |      4.944 |        7.445 |     0.664 |      0.554 | -18.749 |  28.638 |
| C(EventTime, contr.treatment(base=-1))[T.6]  |      6.082 |        7.953 |     0.765 |      0.500 | -19.228 |  31.393 |
| C(EventTime, contr.treatment(base=-1))[T.7]  |      6.011 |        8.529 |     0.705 |      0.532 | -21.133 |  33.155 |
| C(EventTime, contr.treatment(base=-1))[T.8]  |      6.749 |        8.236 |     0.819 |      0.473 | -19.462 |  32.961 |
| C(EventTime, contr.treatment(base=-1))[T.9]  |      7.894 |        8.327 |     0.948 |      0.413 | -18.605 |  34.394 |
| C(EventTime, contr.treatment(base=-1))[T.10] |      7.462 |        7.464 |     1.000 |      0.391 | -16.291 |  31.215 |
| C(EventTime, contr.treatment(base=-1))[T.11] |      7.468 |        6.574 |     1.136 |      0.338 | -13.454 |  28.391 |
| C(EventTime, contr.treatment(base=-1))[T.12] |      6.043 |        6.637 |     0.910 |      0.430 | -15.080 |  27.165 |
| C(EventTime, contr.treatment(base=-1))[T.13] |      4.791 |        6.269 |     0.764 |      0.500 | -15.159 |  24.740 |
| C(EventTime, contr.treatment(base=-1))[T.14] |      4.648 |        5.994 |     0.775 |      0.495 | -14.428 |  23.724 |
| C(EventTime, contr.treatment(base=-1))[T.15] |      4.468 |        5.107 |     0.875 |      0.446 | -11.784 |  20.721 |
| C(EventTime, contr.treatment(base=-1))[T.16] |      4.313 |        4.585 |     0.941 |      0.416 | -10.280 |  18.906 |
| C(EventTime, contr.treatment(base=-1))[T.17] |      3.294 |        4.304 |     0.765 |      0.500 | -10.402 |  16.991 |
| C(EventTime, contr.treatment(base=-1))[T.18] |      4.762 |        4.047 |     1.177 |      0.324 |  -8.117 |  17.642 |
| C(EventTime, contr.treatment(base=-1))[T.19] |      3.605 |        3.347 |     1.077 |      0.360 |  -7.047 |  14.256 |
| TobaccoPrice                                 |      0.043 |        0.091 |     0.475 |      0.667 |  -0.246 |   0.333 |
---
RMSE: 2.054 R2: 0.915 R2 Within: 0.217

/Users/ulrikhaugland/data_science_venv/lib/python3.12/site-packages/pyfixest/estimation/feols_.py:2703: UserWarning:
            1 variables dropped due to multicollinearity.
            The following variables are dropped: ['C(EventTime, contr.treatment(base=-1))[T.20]'].

  warnings.warn(